# EDSA Apple Prices Challenge

Regression_AM2_DSFT team is determined to help the Fresh Produce Industry to accurately determine how much stock to have on hand and what price to set the Golden Delicious Apples to.

In the Fresh Produce Industry, having the right amount of stock on hand is crucial. That's, not having too little that you run out of stock when customers want to buy more. And not having too much that food waste occurs. Yields from farms fluctuate by season. Should the prices then also fluctuate by season? The is a need for a more accurate method to determine how much stock to have on hand and what price to set the Golden Delicious Apples to.

Regression_AM2_DSFT will investigate key factors that have a great impact on the price of the Golden Delicious Apples to be maximised. We will construct a regression algorithm, capable of accurately predicting how much a kilogram of Golden Delicious Apples will cost, given certain parameters.

![Golden Apples](apples.png)

## Data Cleaning and Formatting
Before we do anything, we first have to clean our data.

### Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Datasets

In [2]:
df_test = pd.read_csv("df-test_set.csv")
df_train = pd.read_csv("df-train_set.csv")

In [3]:
df_train.head(2)

,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
0,CAPE,EC120,1L,12.0,APPLE GRANNY SMITH,2020-03-10,108.0,112.0,3236.0,29,348.0,0,9.30
1,CAPE,M4183,1L,18.3,APPLE GOLDEN DELICIOUS,2020-09-09,150.0,170.0,51710.0,332,6075.6,822,8.51

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64376 entries, 0 to 64375
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Province          64376 non-null  object
 1   Container         64376 non-null  object
 2   Size_Grade        64376 non-null  object
 3   Weight_Kg         64376 non-null  float64
 4   Commodities       64376 non-null  object
 5   Date              64376 non-null  object
 6   Low_Price         64376 non-null  float64
 7   High_Price        64376 non-null  float64
 8   Sales_Total       64376 non-null  float64
 9   Total_Qty_Sold    64376 non-null  int64
 10  Total_Kg_Sold     64376 non-null  float64
 11  Stock_On_Hand     64376 non-null  int64
 12  avg_price_per_kg  64376 non-null  float64
dtypes: float64(6), int64(2), object(5)
memory usage: 6.4+ MB

In [5]:
df_test.head(2)

,Index,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
0,1,W.CAPE-BERGRIVER ETC,EC120,1M,12.0,APPLE GOLDEN DELICIOUS,09/07/2020,128.0,136.0,5008.0,38,456.0,0
1,2,W.CAPE-BERGRIVER ETC,M4183,1X,18.3,APPLE GOLDEN DELICIOUS,20/01/2020,220.0,220.0,1760.0,8,146.4,2

In [6]:
df_test = df_test.drop(columns = ['Index'])
df_test.head(2)

,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
0,W.CAPE-BERGRIVER ETC,EC120,1M,12.0,APPLE GOLDEN DELICIOUS,09/07/2020,128.0,136.0,5008.0,38,456.0,0
1,W.CAPE-BERGRIVER ETC,M4183,1X,18.3,APPLE GOLDEN DELICIOUS,20/01/2020,220.0,220.0,1760.0,8,146.4,2

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province        685 non-null    object
 1   Container       685 non-null    object
 2   Size_Grade      685 non-null    object
 3   Weight_Kg       685 non-null    float64
 4   Commodities     685 non-null    object
 5   Date            685 non-null    object
 6   Low_Price       685 non-null    float64
 7   High_Price      685 non-null    float64
 8   Sales_Total     685 non-null    float64
 9   Total_Qty_Sold  685 non-null    int64
 10  Total_Kg_Sold   685 non-null    float64
 11  Stock_On_Hand   685 non-null    int64
dtypes: float64(5), int64(2), object(5)
memory usage: 64.3+ KB

### Dummy Variables

In [8]:
#df_train = pd.get_dummies(df_train)
df_train = df_train[['Province', 'Container', 'Size_Grade', 'Weight_Kg', 'Commodities', 'Low_Price', 'High_Price', 'Sales_Total', 'Total_Qty_Sold', 'Total_Kg_Sold', 'Stock_On_Hand', 'avg_price_per_kg']] 
df_train = pd.get_dummies(df_train)
df_train.head()

,Weight_Kg,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg,Province_CAPE,Province_EASTERN CAPE,...,Commodities_TANGELOS,Commodities_TAWNY SEEDLESS,Commodities_TOMATOES COCKTAIL,Commodities_TOMATOES JAM,Commodities_TOMATOES OTHER,Commodities_TOMATOES SALADETTE,Commodities_TOMATOES-LONG LIFE,Commodities_VALLEY GOLD,Commodities_WASHED POTATOES,Commodities_WATERMELON
0,12.0,108.0,112.0,3236.0,29,348.0,0,9.30,1,0,...,0,0,0,0,0,0,0,0,0,0
1,18.3,150.0,170.0,51710.0,332,6075.6,822,8.51,1,0,...,0,0,0,0,0,0,0,0,0,0
2,20.0,70.0,80.0,4860.0,66,1320.0,50,3.68,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.0,60.0,60.0,600.0,10,90.0,0,6.67,0,0,...,0,0,0,0,0,0,1,0,0,0
4,10.0,40.0,45.0,41530.0,927,9270.0,393,4.48,0,0,...,0,0,0,0,0,0,0,0,0,0

## Exploratory Data Analysis

In [ ]:
sns.heatmap(df_train[['Weight_Kg', 'Low_Price', 'High_Price', 'Sales_Total', 'Total_Qty_Sold']].corr(), vmin=-1, vmax=1, annot=True)